[Unit]
Description=Labgrid Exporter
After=network.target

[Service]
ExecStart=/usr/bin/labgrid-exporter /etc/labgrid/exporter.yaml
Restart=on-abort
User=labgrid
Group=labgrid
SupplementaryGroups=dialout
CacheDirectory=labgrid
CacheDirectoryMode=1775

[Install]
WantedBy=multi-user.target
